{% extends "projects/base.html" %}
{% block content %}
<main id="main">

    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">{{project.title}}</h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{project.image.url}}}" alt="{{project.title}} image">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: {{project.category}}</li>
              <li><strong>Tech stack</strong>: --add Icons</li>
              <li><strong>Github URL</strong>: <a href="{{project.gh_url}}">{{project.gh_url}}</a></li>
              <li><strong>Project URL</strong>: <a href="{{project.live_url}}">{{project.live_url}}</a></li>
            </ul>

            <p>{{project.description}}</p>
          </div>

        </div>

      </div>
    </div>

  </main>
{% endblock content %}