<header id="header">
    <div class="container">

      <h1><a href="index.html">Clinton Wambugu</a></h1>
      <h2>I'm a passionate <span>full stack developer</span></h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://twitter.com/WambuguClinton" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100081966842960" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="www.linkedin.com/in/clinton-wambugu-96596a158" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/Clinton-dev" target="_blank" class="github"><i class="bi bi-github"></i></a>
      </div>

    </div>
  </header>